.request-container {
    max-width: 1000px;
    margin: 40px auto;
    background-color: #f4f3f4;
    padding: 40px 20px;
    border-radius: 8px;
}

.request-title {
    font-size: 24px;
    font-weight: bold;
    border-left: 5px solid black;
    padding-left: 10px;
    margin-bottom: 30px;
}

.tab-menu {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.tab {
    background: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
    margin-right: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.tab.active {
    border-color: black;
}

.request-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    font-size: 14px;
    border-radius: 10px;
    overflow: hidden;
}

.request-table th,
.request-table td {
    padding: 14px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.request-table thead {
    background-color: #fafafa;
    font-weight: bold;
}

.request-table tbody tr:last-child td {
    border-bottom: none;
}

.request-table a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.request-table a:hover {
    text-decoration: underline;
}